*.py[cod]
__pycache__
.aliases
.related

# Virtual Environment
env/
venv/

# C extensions
*.so

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tests/data/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# GitHub token file
.pypt/gh-token

# 
.DS_Store

# vim session files
*.vim

# docker
docker/data/*
!docker/data/.gitkeep
